body {
    padding: 20px 10%;
    background-color: #101030;
}
.wrap {
   
}
#header-reg {
   display: none;
}
#footer-reg {
    display: none;
}
.panel {
    margin-bottom: 0px;
    height: 90%;
}
.panel-body{
    padding: 0px;
}
#Panel-Content {
    width: 100%;
    height: 100%;
}
/* Start Side Bar */
#side_bar {
    float: left;
    width: 15%;
    height: 90%;
    padding: 5px 0px;
    background: #0480B5;
    list-style-type: none;
    color: #FFF;
    
}
/* END Side Bar */
#form-container {
    float:left;
    width: 85%;
    height: 90%;
    background: #FFFFFF;
}
textarea.form-control {
    margin: 0px; 
    width: 100%;
    max-height: 300px;
}
div .input-group .input-group-lg{
    margin: 0px; 
    height: 170px; 
    width: 100%;

}
input-group-addon {
   
    width: 100%;

}


.panel-footer {
    padding-left: 15%;
    width: 100%;
    background-color: gray;
    
}
#side-footer{


}

@media print {
    #side_bar {display:none;}
    .panel-footer {display:none;}
    body {
        padding: 0;
        margin: 0;
        font-size: 10px;
    }
    
    #header-reg {
        display: block;
        font-size: 8px;
    }
    h1 {
        font-size: 20px;
    }
    
    
    #footer-reg {
        display: block;
        font-size: 8px;
    }
    span {
        font-size: 8px;
        border: 0;
        
    }
    textarea.form-control {
        margin: 0px; 
        height: 400px; 
        width: 100%;
        max-width: 300px;
        max-height: 300px;
        border: 0;
    }

    .input-group-lg>.form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.btn {
        font-size: 12px;
        line-height: 1;
        padding: 0;
        height: 20px;
        border: 0;
        box-shadow: none;
    }
    .navbar-form {
        padding: 0;
    }
    .input-group .form-control, .input-group-addon, .input-group-btn {
        display: inline-block;
        height: 20px;
        padding: 0;
        border: 0;
    }
    .input-group-addon {
        border: 0;
        padding: 0;
        width: 100%;  
        font-size: 10px;
    }
    
}